<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 class="list-group-item-heading">Les derniers posts</h1>
      
      <ul class="list-group">
        <app-posts *ngFor="let post of posts; let i = index" 
                                [postTitle]="post.title"
                                [postDate]="post.date"
                                [postContent]="post.content"
                                [postLoveIts]="post.loveIts"
                                [indexOfPost]="i"></app-posts>
                    
      </ul>
      <button class="btn btn-primary" (click)="onNewPost()">Nouveau post</button>
    </div>
  </div>
  