<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts >= '1',
                'list-group-item-danger': loveIts <= '-1'}">
  
    <h4 [ngStyle]="{color: getColor()}">{{ postTitle }}</h4>
    
    <p>Publié le : {{ lastUpdate | date: 'EEEE d MMMM y à hh:mm a' }}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia quo voluptates necessitatibus labore tenetur obcaecati similique deleniti odit laborum doloribus voluptatem ea optio culpa, eum omnis tempora dolores quod!</p>
    
    <button class="btn btn-success" 
        (click)="love()">Love it</button>
    <button class="btn btn-danger" 
        (click)="noLove()">Don't love it</button>
</li>